.container {
    width: 100vw;
    height: 100vh;
    background-image: url("HomePage.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
 
}
.titel{
    width: 60%;
    backdrop-filter: blur(2px);
   
}

.h1-slogan {
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

.slogan {
    font-size: 2.5rem; 
    font-weight: bold;
    color: white;
    margin-bottom: 1.875rem; 
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1.25rem; 
}

.btn {
    padding: 0.75rem 1.5rem; 
    font-size: 1.125rem; 
    border: none;
    cursor: pointer;
    border-radius: 0.3125rem; 
    transition: 0.3s;
}

.login {
    background-color:#f1e1d4;
    color: #900c3f;
}

.register {
    background-color: #900c3f;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}


@media (max-width: 48rem) { 
    .buttons {
        flex-direction: column;
        gap: 0.625rem; 
    }

    .btn {
        width: 80%;
    }

    .slogan {
        font-size: 1.875rem;
    }
}

@media (max-width: 30rem) { 
    .slogan {
        font-size: 1.5rem; 
    }

    .btn {
        padding: 0.625rem 1.25rem; 
    }
}


  