.main-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.content {
    flex-grow: 1;
    margin-left: 250px;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    background-color: white;
    position: relative;
    z-index: 1;
}


