.media-layout {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa;
  overflow-y: auto;
}

.media-container {
  flex-grow: 1;
  padding: 20px;
  min-height: 600px;
  overflow-y: auto;
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
}

.media-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  
}

.media-thumbnail:hover {
  transform: scale(1.05);
}

.media-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 10px;
}

.media-modal {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1001;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-height: 80vh;
  overflow-y: auto;
  -ms-overflow-style: none;
}
.media-modal::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.media-modal h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.media-modal-image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px 0;
}

.media-modal-description {
  font-size: 16px;
  margin: 5px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: justify;
}

.media-cancel-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;

  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  transition: 0.2s;
}

.media-cancel-btn:hover {
  color: red;
  transform: scale(1.2);
}
